@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
}

header {
    padding: 0;
    top: 0;
    width: 100%;
    background: linear-gradient(#002b90, #2a6aff);
    box-shadow: 0 0 5px 0 rgb(17, 14, 9);
    position: fixed;
}

a.title {
    display: block;
    padding: 0;
    text-decoration: none;
    color: #fff;
    font-family: 'Hannotate SC', sans-serif;
}

main {
    margin-top: 60px;
}

a.title:hover {
    text-decoration: none;
    color: rgb(6, 240, 26);
    border-bottom: none;
    translate: .4s;
}

#nav li a:hover {
    color: rgb(6, 240, 26);
    border-bottom: none;
    translate: .4s;
}

@media (min-width:900px) {
    main {
        margin-top: 60px;
    }
    header {
        display: flex;
        align-items: center;
    }
    a.title {
        margin: 7.5px 0 7.5px 15px;
        width: 200px;
        font-size: 30px;
    }
    #nav {
        right: 0;
        top: 15px;
        width: 700px;
        position: absolute;
    }
    #nav ul {
        position: absolute;
        right: 15px;
        top: 0;
        list-style: none;
        margin: 0;
        display: flex;
    }
    #nav ul li {
        margin: 0 0 0 15px;
        font-size: 20px;
    }
    #nav a {
        text-decoration: none;
        color: #fff;
        font-family: 'Hannotate SC', sans-serif;
    }
}

@media (max-width:899px) {
    main {
        margin-top: 40px;
    }
    header {
        height: 40px;
    }
    a.title {
        margin: 5px 0 10px 10px;
        width: 200px;
        font-size: 20px;
    }
    #nav {
        position: fixed;
        z-index: 100;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        background: linear-gradient(#002b90, #2a6aff);
        transition: .4s;
    }
    #nav ul {
        padding-top: 40px;
        padding-left: 0;
    }
    #nav ul li {
        list-style-type: none;
        text-align: center;
    }
    #nav a {
        display: block;
        text-decoration: none;
        font-family: 'Hannotate SC', sans-serif;
        color: #fff;
        margin: 0;
        padding: 5px 35px;
        transition: .2s;
    }
    #hamburger {
        display: block;
        position: absolute;
        z-index: 200;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 20px;
        transition: .5s;
    }
    .inner_line {
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: .5s;
        border-radius: 4px;
    }
    #line1 {
        top: 0;
    }
    #line2 {
        top: 9px;
    }
    #line3 {
        bottom: 0;
    }
    .in {
        transform: translateX(-100%);
    }
    .line_1, .line_2, .line_3 {
        background: #fff;
    }
    .line_1 {
        transform: translateY(9px) rotate(-45deg);
        top: 0;
    }
    .line_2 {
        opacity: 0;
    }
    .line_3 {
        transform: translateY(-9px) rotate(45deg);
        bottom: 0;
    }
}