#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 201;
}

#modal {
    cursor: pointer;
    background: #fff;
    position: fixed;
    border-radius: 4px;
    width: 75%;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 202;
    transition: 1s;
    opacity: 1;
}

.text-gray-700.text-sm.mb-2 {
    font-family: 'Hannotate SC', sans-serif;
}

/* ($startLineHour)=($start-hour)*40+(start-minute)*0.66666667 */

.mb-0.text-xs.border-2.border-transparent.py-1.px-2.font-bold.text-white.transition-all.mr-2.rounded-sm {
    margin-top: 40px;
}

#mask.hidden {
    display: none;
}

#modal.hidden {
    transform: translate(0, -100px);
    display: block;
    opacity: 0;
    visibility: hidden;
}

@media (min-width:351px) {
    #modal {
        width: 75%;
    }
}

@media (max-width:350px) {
    #modal {
        width: 100%;
    }
}