#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 201;
}

#modal {
    background: #fff;
    position: absolute;
    border-radius: 4px;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 202;
    transition: 1s;
    opacity: 1;
}

.text-gray-700.text-sm.mb-2 {
    font-family: 'Hannotate SC', sans-serif;
}

#mask.hidden {
    display: none;
}

#modal.hidden {
    transform: translate(0, -100px);
    display: block;
    opacity: 0;
    visibility: hidden;
}

@media (min-width:351px) {
    #modal {
        width: 75%;
    }
}

@media (max-width:350px) {
    #modal {
        width: 100%;
    }