#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 201;
}

#modal {
    cursor: pointer;
    background: #fff;
    position: absolute;
    border-radius: 4px;
    width: 75%;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 202;
    transition: 3s;
}

#mask.hidden {
    display: none;
}

#modal.hidden {
    transform: translate(0, -100px);
}