@media (min-width:1024px) {
    img {
        display: none;
    }
    .bg {
        background: url(/laravel6-img/4170204_s.jpeg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }
    h1.p-0 {
        display: none;
    }
    div.flex.text-center {
        display: none;
    }
    div.flex-wrap {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

@media (max-width:1023px) {
    div.flex.text-center {
        background: url(/laravel6-img/4170204_s.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: 30% 50%;
    }
    h1.py-52 {
        display: none;
    }
}